/* Navbar.css */

nav {
  min-height: 50px;
  width: 100%;
  margin: 0% auto;
  padding-top: 4px;
  box-shadow: 0px 1px 5px black;
  position: fixed;
  z-index: 5;
  top: 0%;
  left: 0%;
  background-color: rgb(126, 170, 126);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 100%;
  min-width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-logo img {
  width: 150px;
  height: 100px;
  
}

.nav-item {
  margin: 0px 3px;
  font-size: larger;
  font-weight: 500;
  text-decoration: none !important;
  color: rgb(69, 69, 69);
  transition: 0.3s;
}

.nav-item:hover {
  background-color: rgb(225, 225, 225);
  border-radius: 4px;
  text-decoration: underline; 
}

.nav-item.nav-login {
  text-decoration: none !important;
  color: black;
}



.nav-btn {
  text-decoration: none !important;
}
.nav-logo:hover
{
  transform: scale(1.1);
}
